name: 'build-test'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: 'npm'
      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build
      - name: Unit Test
        run: npm run test
